INFLUX_URL=http://influxdb:8086
INFLUX_ORG=SS4TS
INFLUX_BUCKET=mikrotik
INFLUX_TOKEN=CHANGE_ME

INFLUX_USERNAME=admin
INFLUX_PASSWORD=CHANGE_ME

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME

SNAPSHOT_CACHE_SECONDS=15
DEVICE_ONLINE_AFTER_SECONDS=180
